$mycolour : rgb(95, 223, 255);
$bgcolour : #333;
$number1 : 20px;
$align1 : center;

.navbar{
	ul{
		list-style-type: none;
		margin: 0;
		padding: 0;
		overflow: hidden;
		background-color: $bgcolour;
	}
	li{
		float: right;
		margin-right: $number1;
	}
	li a {
		display: block;
		color: white;
		text-align: $align1;
		padding: 14px $number1;
		text-decoration: none;
	}
	li a:hover {
		background-color: $mycolour;
	}
}

.home{
	margin: 0px;
	padding: 10px;
	background-color: yellow;
	h1 {
		text-align: $align1;
	}
}

.galeri{
	margin: 0px;
	padding: 10px;
	background-color: lightgrey;
	text-align: $align1;
	img{
		width: 100px;
		height: 100px;
	}
}

.contact{
	margin: 0px;
	padding: 10px;
	background-color: cyan; 
	h1{
		text-align: $align1;
	}
	form{
		padding: 5px;
		text-align: left;
		font-weight: bold;
	}
}

.about{
	margin: 0px;
	padding: 10px;
	background-color: lightgreen;
	text-align: $align1;
	h1{
		text-align: $align1;
	}
	p{
		text-align: left;
	}
}

.footer{
	margin{
		top: 200px;
		left: 300px;
	}
	padding: 5px;
	position: relative;
	height: auto;
	background-color: salmon;
	text-align: center;
	p{
		text-align: center;
	}
}