.navigasi{
		display:table;
		border: 1px solid black;
}
nav{
	background-color: lightgrey;
	height: auto;
	width: 200px;
	display: table-cell;
	border: 1px solid black;
}
.isi{
	background-color: yellow;
	height: auto;
	width: 584px;
	display: table-cell;
	border: 1px solid black;
	padding-bottom: 5px;
}